.header{
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content: center;
    background: #0D0D0D;
}
.header img{
    width: 126px;
    
    cursor: pointer;

    background: #0D0D0D;
}